@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: rgb(133, 108, 224);
    color: white;
}

nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: auto;
    background-color: rgb(199, 183, 183);
    color: rgb(236, 223, 223);
   font-family: 'Varela Round', sans-serif;
   display: flex;
   padding: 13px;
   background-image: url(2126.jpg);
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.icons{
    margin-top: 14px; 
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw; 
    height: 5px;
    cursor: pointer;
}
.songList{
    width: 60%;
    border-radius: 10px;
    padding: 10px;
}

.songBanner{
    position: sticky;
    
    width: 40%;

    
    border-radius: 10px;
    align-items: center;
    justify-content: center;


}

.songItemContainer{
    margin-top: 10px;
    background-color: rgb(226, 204, 204);
    padding: 20px;
    border-radius: 20px;
}

.songItem{
    height: 55px;
    display: flex;
    background-color: white;
    
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 14px;
}

.songItem img{
    width: 43px;
    height: 48px;
    margin: 0 23px;
    border-radius: 5px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo img{
    
    position: sticky;
    height: 500px;
    width: 590px;
    font-family: 'Varela Round', sans-serif;
    
    display: flex;
    margin-top: 50px;
    
    
}



.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
      background-color: red;
    }
  }